/* Sir FindALot: Main Stylesheet */


/* Global font setting */
body {
	font-family: 'Terminal Dosis', sans-serif;
}

#global-header {
	-o-box-shadow: 0px 2px 5px #666; -moz-box-shadow: 0px 2px 5px #666; -webkit-box-shadow: 0px 2px 5px #666; box-shadow: 0px 2px 5px #666;
	
	border-bottom: 1px solid #CCC;
}

#global-footer {
	-o-box-shadow: 0px -2px 5px #666; -moz-box-shadow: 0px -2px 5px #666; -webkit-box-shadow: 0px -2px 5px #666; box-shadow: 0px -2px 5px #666;
	border-top: 1px solid #CCC;
}

#global-header, #global-footer {
	display:block; display:box; display:-webkit-box; display:-moz-box; display:-o-box;
	
	box-orient: horizontal; -moz-box-orient: horizontal; -webkit-box-orient: horizontal; -o-box-orient: horizontal;
	box-align: center; -moz-box-align: center; -webkit-box-align: center; -o-box-align: center;
	box-pack: center; -moz-box-pack: center; -webkit-box-pack: center; -o-box-pack: center;
	
	z-index:100;
	height:45px;
	
	/* Gradients */
	background-color:#505050; /* Fallback value */
	background: -moz-linear-gradient(#747474 0%, #676767 49%, #505050 50%, #414141 100%); /* FF 3.6+ */  
  background: -ms-linear-gradient(#747474 0%, #676767 49%, #505050 50%, #414141 100%); /* IE10 */  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #747474), color-stop(0.49, #676767), color-stop(0.5, #505050), color-stop(1.0, #414141));/* Safari 4+, Chrome 2+ */  
  background: -webkit-linear-gradient(#747474 0%, #676767 49%, #505050 50%, #414141 100%); /* Safari 5.1+, Chrome 10+ */  
  background: -o-linear-gradient(#747474 0%, #676767 49%, #505050 50%, #414141 100%); /* Opera 11.10 */  
  background: linear-gradient(#747474 0%, #676767 49%, #505050 50%, #414141 100%); /* the standard */  
	
	/* Text styles */
	color:white;
	font-size:large;
	text-shadow: 2px 2px 2px #000;
	font-weight:800;
}

/* Footer navbar styles */
footer nav.navbar {
	display:block; display:box; display:-webkit-box; display:-moz-box; display:-o-box;
	
	box-align: center; -moz-box-align: center; -webkit-box-align: center; -o-box-align: center;
	box-pack: center; -moz-box-pack: center; -webkit-box-pack: center; -o-box-pack: center;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
	
	padding:0px;
	margin:0px;

	left:0px;
	top:0px;
	width:100%;
}

footer nav.navbar a {
	display:block; display:box; display:-webkit-box; display:-moz-box; display:-o-box;

	box-align: center; -moz-box-align: center; -webkit-box-align: center; -o-box-align: center;
	box-pack: center; -moz-box-pack: center; -webkit-box-pack: center; -o-box-pack: center;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
	
	/* Active background color fade in-out */
	transition: all 0.25s  ease-in-out; -webkit-transition: all 0.25s  ease-in-out; -moz-transition: all 0.25s  ease-in-out; -o-transition: all 0.25s  ease-in-out;
	
	height:45px; /* Same as footer */
	
	-webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; -o-box-flex:1;
	
	text-decoration:none;
	color:white;
}

footer nav.navbar a img {
	margin:0px 5px 0px 0px;
}

/* no :active on android, use :fake-active instead and handle events using js */
nav.navbar a:active, nav.navbar a.fake-active  {

	/* Gradients */
	background-color:#e67e28; /* Fallback value */
	background: -moz-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* FF 3.6+ */  
  background: -ms-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* IE10 */  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #eea151), color-stop(0.49, #ea8f44), color-stop(0.5, #e67e28), color-stop(1.0, #e06818)); /* Safari 4+, Chrome 2+ */  
  background: -webkit-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* Safari 5.1+, Chrome 10+ */  
  background: -o-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* Opera 11.10 */  
  background: linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* the standard */  
}

nav.navbar a.highlighted {
	background: #6db3f2; /* Old browsers */
	background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 49%, #3690f0 50%, #1e69de 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(49%,#54a3ee), color-stop(50%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6db3f2 0%,#54a3ee 49%,#3690f0 50%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6db3f2 0%,#54a3ee 49%,#3690f0 50%,#1e69de 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6db3f2 0%,#54a3ee 49%,#3690f0 50%,#1e69de 100%); /* IE10+ */
	background: linear-gradient(top, #6db3f2 0%,#54a3ee 49%,#3690f0 50%,#1e69de 100%); /* W3C */
}

/* Content container styles */
#viewport {
	margin:0px;
	padding:0px;
	z-index:10;
	top:45px;
	bottom:45px;
	font-weight:600;
	
	background-color:#FFF;
}

#viewport div[data-type=page] {
}

/* Page content styles */
#viewport div[data-type=page-content] {
	margin:0px;
	padding:15px 10px;
	background-color:#FFF;
	
	-webkit-box-shadow: 0px 10px 5px #333, 0px -10px 5px #333; -moz-box-shadow: 0px 10px 5px #333, 0px -10px 5px #333;
	box-shadow: 0px 10px 5px #333, 0px -10px 5px #333; -o-box-shadow: 0px 10px 5px #333, 0px -10px 5px #333;
}

.scroller {
	background-color:#565a60;
}


/* Modal window */
#modal {
	display:none;
	
	box-orient: vertical; -moz-box-orient: vertical; -webkit-box-orient: vertical; -o-box-orient: vertical;
	box-align: center; -moz-box-align: center; -webkit-box-align: center; -o-box-align: center;
	box-pack: center; -moz-box-pack: center; -webkit-box-pack: center; -o-box-pack: center;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
	
	position:absolute;
	z-index:2000;
	left:10%;
	top:15%;
	background:#FFF;
	width:80%;
	
	-webkit-box-shadow: 0px 0px 25px #000; -moz-box-shadow: 0px 0px 25px #000; box-shadow: 0px 0px 25px #000;  -o-shadow: 0px 0px 25px #000;

	-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; -o-border-radius: 8px;
	
	/* Gradients */
	background-color:#FFF; /* Fallback value */
	background: -moz-linear-gradient(#FFF, #CCC); /* FF 3.6+ */  
  background: -ms-linear-gradient(#FFF, #CCC); /* IE10 */  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #CCC)); /* Safari 4+, Chrome 2+ */  
  background: -webkit-linear-gradient(#FFF, #CCC); /* Safari 5.1+, Chrome 10+ */  
  background: -o-linear-gradient(#FFF, #CCC); /* Opera 11.10 */  
  background: linear-gradient(#FFF, #CCC); /* the standard */  
}

/* Modal ribbon */
#modal h1 { 
	position:relative;
	left:-15px;
	padding: 8px 15px 8px 15px;
	width:100%;
	
  font-size: x-large;
  font-weight: 800;
  color: #fff;
  background: #CD0000;
	text-shadow: 2px 2px 2px #000;
	
	-webkit-box-shadow: 0px 0px 5px #000; -moz-box-shadow: 0px 0px 5px #000; box-shadow: 0px 0px 5px #000; -o-box-shadow: 0px 0px 5px #000;
}

#modal h1:before,
#modal h1:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: transparent #AD0000;
}

/* override shared styles */
#modal h1:after {
  left: auto;
  right: 0;
  border-width: 0 0 15px 15px;
}

#modal_content {
	display:block; display:box; display:-webkit-box; display:-moz-box; display:-o-box;
	
	box-orient: horizontal; -moz-box-orient: horizontal; -webkit-box-orient: horizontal; -o-box-orient: horizontal;
	box-align: center; -moz-box-align: center; -webkit-box-align: center; -o-box-align: center;
	box-pack: center; -moz-box-pack: center; -webkit-box-pack: center; -o-box-pack: center;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
	
	padding:0px 15px 10px 15px;
}

#modal_close {
	display:block; display:box; display:-webkit-box; display:-moz-box; display:-o-box;
	
	box-align: center; -moz-box-align: center; -webkit-box-align: center; -o-box-align: center;
	box-pack: center; -moz-box-pack: center; -webkit-box-pack: center; -o-box-pack: center;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
	
	width:100%;
	font-size:large;
	font-weight:800;
	color:white;
	background:#FFF;
	text-decoration:none;
	
	height:45px;
	
	/* Gradients */
	background-color:#505050; /* Fallback value */
	background: -moz-linear-gradient(#747474 0%, #676767 49%, #505050 50%, #414141 100%); /* FF 3.6+ */  
  background: -ms-linear-gradient(#747474 0%, #676767 49%, #505050 50%, #414141 100%); /* IE10 */  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #747474), color-stop(0.49, #676767), color-stop(0.5, #505050), color-stop(1.0, #414141));/* Safari 4+, Chrome 2+ */  
  background: -webkit-linear-gradient(#747474 0%, #676767 49%, #505050 50%, #414141 100%); /* Safari 5.1+, Chrome 10+ */  
  background: -o-linear-gradient(#747474 0%, #676767 49%, #505050 50%, #414141 100%); /* Opera 11.10 */  
  background: linear-gradient(#747474 0%, #676767 49%, #505050 50%, #414141 100%); /* the standard */  
	
	/* Text styles */
	color:white;
	font-size:large;
	text-shadow: 2px 2px 2px #000;
	font-weight:800;
	
	border-top: 1px solid #CCC;
	
	-webkit-box-shadow: 0px 0px 5px #000; -moz-box-shadow: 0px 0px 5px #000; box-shadow: 0px 0px 5px #000; -o-box-shadow: 0px 0px 5px #000;
}

#modal_close.fakeactive, #modal_close:active{

	/* Gradients */
	background-color:#e67e28; /* Fallback value */
	background: -moz-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* FF 3.6+ */  
  background: -ms-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* IE10 */  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #eea151), color-stop(0.49, #ea8f44), color-stop(0.5, #e67e28), color-stop(1.0, #e06818)); /* Safari 4+, Chrome 2+ */  
  background: -webkit-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* Safari 5.1+, Chrome 10+ */  
  background: -o-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* Opera 11.10 */  
  background: linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* the standard */  

}

#modal p {
	display:block; display:box; display:-webkit-box; display:-moz-box; display:-o-box;
	
	font-weight:800;
	-webkit-box-flex: 2; -moz-box-flex: 2; box-flex: 2; -o-box-flex:2;
}

#fade {
	display:block; display:box; display:-webkit-box; display:-moz-box; display:-o-box;
	
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background: #111;
	z-index:0;
	opacity:0;
	
	/* Animation */	
	transition: opacity 0.5s linear; -webkit-transition: opacity 0.5s linear; -moz-transition: opacity 0.5s linear; -o-transition: opacity 0.5s linear;
}

/* Geolocation form field and loading animation */
#geolocation_search_form {
	display:block; display:box; display:-webkit-box; display:-moz-box; display:-o-box;
	
	position:relative;
	
	box-orient: horizontal; -moz-box-orient: horizontal; -webkit-box-orient: horizontal; -o-box-orient: horizontal;
	box-align: center; -moz-box-align: center; -webkit-box-align: center; -o-box-align: center;
	box-pack: center; -moz-box-pack: center; -webkit-box-pack: center; -o-box-pack: center;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
	
	-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; -o-border-radius: 8px;
	
	margin: 10px auto;
	width:95%;
	
}

#geolocation_search_form.green {
	-moz-box-shadow: 0px 0px 5px #000; -webkit-box-shadow: 0px 0px 5px #000; box-shadow: 0px 0px 5px #000; -o-box-shadow: 0px 0px 5px #000;
	/*-webkit-animation:pulse_green 500ms infinite ease-in alternate;*/
}

#geolocation_search_form.green #geolocation_search_glass {
	/* Gradients */
	background: url('../img/icons/glass.png') no-repeat 5px center, #9dd53a; /* Old browsers */
	background: url('../img/icons/glass.png') no-repeat 5px center, -moz-linear-gradient(top,  #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
	background: url('../img/icons/glass.png') no-repeat 5px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
	background: url('../img/icons/glass.png') no-repeat 5px center, -webkit-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
	background: url('../img/icons/glass.png') no-repeat 5px center, -o-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 11.10+ */
	background: url('../img/icons/glass.png') no-repeat 5px center, -ms-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
	background: url('../img/icons/glass.png') no-repeat 5px center, linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
}

#geolocation_search_form.orange #geolocation_search_glass {
	
	/* Gradients */
	background-color:url('../img/icons/glass.png') no-repeat 5px center, #e67e28; /* Fallback value */
	background: url('../img/icons/glass.png') no-repeat 5px center, -moz-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* FF 3.6+ */  
  background: url('../img/icons/glass.png') no-repeat 5px center, -ms-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* IE10 */  
  background: url('../img/icons/glass.png') no-repeat 5px center, -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #eea151), color-stop(0.49, #ea8f44), color-stop(0.5, #e67e28), color-stop(1.0, #e06818)); /* Safari 4+, Chrome 2+ */  
  background: url('../img/icons/glass.png') no-repeat 5px center, -webkit-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* Safari 5.1+, Chrome 10+ */  
  background: url('../img/icons/glass.png') no-repeat 5px center, -o-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* Opera 11.10 */  
  background: url('../img/icons/glass.png') no-repeat 5px center, linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* the standard */  
}

#geolocation_search_form.orange {
	-moz-box-shadow: 0px 0px 5px #000; -webkit-box-shadow: 0px 0px 5px #000; box-shadow: 0px 0px 5px #000; -o-box-shadow: 0px 0px 5px #000;
	/*-webkit-animation:pulse_orange 500ms infinite ease-in alternate;*/
}

#geolocation_search_glass {
	display:block; display:box; display:-webkit-box; display:-moz-box; display:-o-box;
	
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
	
	height:45px;
	width:42px;
	
	background:url('../img/icons/glass.png') no-repeat 5px center, #FFF;
	
	border:1px solid #666;
	
	border-top-left-radius:8px; -moz-border-top-left-radius:8px; -webkit-border-top-left-radius:8px; -o-border-top-left-radius:8px;
	border-bottom-left-radius:8px; -moz-border-bottom-left-radius:8px; -webkit-border-bottom-left-radius:8px; -o-border-bottom-left-radius:8px;
}
#geolocation_search {
	display:block; display:box; display:-webkit-box; display:-moz-box; display:-o-box;
	
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
	
	-webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; -o-box-flex:1;
	
 /*	-webkit-transform: translate3d(0,0,0); weird htc double input field display bug */
	
	padding: 2px 10px 2px 10px;
	
	border:1px solid #666;
	border-left:none;
	
	height:45px;
	font-size:110%;
	font-weight:600;
	color:black;
	
	background:#FFF;
	
	border-top-right-radius:8px; -moz-border-top-right-radius:8px; -webkit-border-top-right-radius:8px; -o-border-top-right-radius:8px;
	border-bottom-right-radius:8px; -moz-border-bottom-right-radius:8px; -webkit-border-bottom-right-radius:8px; -o-border-bottom-right-radius:8px;
}

#geolocation_search[disabled=disabled] {
	color:white;
}

/* Test if this is really needed: removes highlighting on click */
#geolocation_search:focus {
	outline-color: transparent;
  outline-style: none;
}

/* Pulsating effect for form field. Attention: Performance killer */
@-webkit-keyframes pulse_green {
  0% { -webkit-translate3d(0, 0, 0); -moz-box-shadow: 0px 0px 1px #458B00; -webkit-box-shadow: 0px 0px 1px #458B00;box-shadow: 0px 0px 1px #458B00; } 
  100% {-webkit-translate3d(0, 0, 0); -moz-box-shadow: 0px 0px 2px #458B00; -webkit-box-shadow: 0px 0px 2px #458B00;box-shadow: 0px 0px 2px #458B00; }
}

@-webkit-keyframes pulse_orange {
  0% { -webkit-translate3d(0, 0, 0);-moz-box-shadow: 0px 0px 5px #f3961c; -webkit-box-shadow: 0px 0px 5px #f3961c; box-shadow: 0px 0px 5px #f3961c; } 
  100% { -webkit-translate3d(0, 0, 0); -moz-box-shadow: 0px 0px 10px #f3961c; -webkit-box-shadow: 0px 0px 10px #f3961c; box-shadow: 0px 0px 10px #f3961c; }
}

/* Fade in of geolocation results */
#geo_results, #geo_results a {
	opacity:0;
}

/* Loading animation within finput field */
#loading {
	display:block; display:box; display:-webkit-box; display:-moz-box; display:-o-box;
	
	box-orient: horizontal; -moz-box-orient: horizontal; -webkit-box-orient: horizontal; -o-box-orient: horizontal;
	box-align: center; -moz-box-align: center; -webkit-box-align: center; -o-box-align: center;
	box-pack: center; -moz-box-pack: center; -webkit-box-pack: center; -o-box-pack: center;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
	
	position:absolute;
	
	left:65%;
	top:7px;
	width:30%;
}

.l_bar {
	display:block; display:box; display:-webkit-box; display:-moz-box; display:-o-box;
	
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
	
	opacity:0.5;	
	
	margin:0px 1px;
	border:1px solid #000;
}

#loading .l_bar {
	height:31px;
}

#loading.green .l_bar, #loading_overlay.green .l_bar {
	background: #9dd53a; /* Old browsers */
	background: -moz-linear-gradient(top,  #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
	background: linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
}

#loading.orange .l_bar, #loading_overlay.orange .l_bar  {
	/* Gradients */
	background-color:#e67e28; /* Fallback value */
	background: -moz-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* FF 3.6+ */  
  background: -ms-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* IE10 */  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #eea151), color-stop(0.49, #ea8f44), color-stop(0.5, #e67e28), color-stop(1.0, #e06818)); /* Safari 4+, Chrome 2+ */  
  background: -webkit-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* Safari 5.1+, Chrome 10+ */  
  background: -o-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* Opera 11.10 */  
  background: linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* the standard */  
}

#loading_overlay {	
	display:none;
	
	box-orient: horizontal; -moz-box-orient: horizontal; -webkit-box-orient: horizontal; -o-box-orient: horizontal;
	box-align: center; -moz-box-align: center; -webkit-box-align: center; -o-box-align: center;
	box-pack: center; -moz-box-pack: center; -webkit-box-pack: center; -o-box-pack: center;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
	
	padding: 5px;
	position:absolute;
	z-index:2000;
	
	left:15%;
	top:42.5%;
	width:70%;
	
	-webkit-box-shadow: 0px 0px 25px #000; -moz-box-shadow: 0px 0px 25px #000; -o-box-shadow: 0px 0px 25px #000; box-shadow: 0px 0px 25px #000;
	-webkit-border-radius: 8px; -moz-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px;
	
	background:#FFF;
}

#loading_overlay .l_bar {
	height:50px;
	opacity:0.5;	
}

.bar1 {
	-webkit-animation:loading1 1.5s infinite linear; -o-animation:loading1 1.5s infinite linear; -moz-animation:loading1 1.5s infinite linear; animation:loading1 1.5s infinite linear;
	-webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; -o-box-flex:1;
}

.bar2 {
	-webkit-animation:loading2 1.5s infinite linear; -o-animation:loading1 1.5s infinite linear; -moz-animation:loading1 1.5s infinite linear; animation:loading1 1.5s infinite linear;
	-webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; -o-box-flex:1;
}

.bar3 {
	-webkit-animation:loading3 1.5s infinite linear; -o-animation:loading1 1.5s infinite linear; -moz-animation:loading1 1.5s infinite linear; animation:loading1 1.5s infinite linear;
	-webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; -o-box-flex:1;
}

.bar4 {
	-webkit-animation:loading4 1.5s infinite linear; -o-animation:loading1 1.5s infinite linear; -moz-animation:loading1 1.5s infinite linear; animation:loading1 1.5s infinite linear;
	-webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; -o-box-flex:1;
}

.bar5 {
	-webkit-animation:loading5 1.5s infinite linear; -o-animation:loading1 1.5s infinite linear; -moz-animation:loading1 1.5s infinite linear; animation:loading1 1.5s infinite linear;
	-webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; -o-box-flex:1;
}

.bar6 {
	-webkit-animation:loading6 1.5s infinite linear; -o-animation:loading1 1.5s infinite linear; -moz-animation:loading1 1.5s infinite linear; animation:loading1 1.5s infinite linear;
	-webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; -o-box-flex:1;
}

@-webkit-keyframes loading1 {0% {opacity:0.5;} 10% {opacity:1;} 20% {opacity:0.5;} 100% {opacity:0.5;}}
@-webkit-keyframes loading2 {0% {opacity:0.5;} 10% {opacity:0.5;} 20% {opacity:1;} 30% {opacity:0.5;} 40% {opacity:0.5;} 90% {opacity:0.5;} 100% {opacity:1;}}
@-webkit-keyframes loading3 {0% {opacity:0.5;} 20% {opacity:0.5;} 30% {opacity:1;} 40% {opacity:0.5;} 80% {opacity:0.5;} 90% {opacity:1;} 100% {opacity:0.5;}}
@-webkit-keyframes loading4 {0% {opacity:0.5;} 30% {opacity:0.5;} 40% {opacity:1;} 50% {opacity:0.5;} 70% {opacity:0.5;} 80% {opacity:1;} 90% {opacity:0.5;} 100% {opacity:0.5;}}
@-webkit-keyframes loading5 {0% {opacity:0.5;} 40% {opacity:0.5;} 50% {opacity:1;} 60% {opacity:0.5;} 70% {opacity:1;} 80% {opacity:0.5;} 100% {opacity:0.5;}}
@-webkit-keyframes loading6 {0% {opacity:0.5;} 50% {opacity:0.5;} 60% {opacity:1;} 70% {opacity:0.5;} 100% {opacity:0.5;}}

@-moz-keyframes loading1 {0% {opacity:0.5;} 10% {opacity:1;} 20% {opacity:0.5;} 100% {opacity:0.5;}}
@-moz-keyframes loading2 {0% {opacity:0.5;} 10% {opacity:0.5;} 20% {opacity:1;} 30% {opacity:0.5;} 40% {opacity:0.5;} 90% {opacity:0.5;} 100% {opacity:1;}}
@-moz-keyframes loading3 {0% {opacity:0.5;} 20% {opacity:0.5;} 30% {opacity:1;} 40% {opacity:0.5;} 80% {opacity:0.5;} 90% {opacity:1;} 100% {opacity:0.5;}}
@-moz-keyframes loading4 {0% {opacity:0.5;} 30% {opacity:0.5;} 40% {opacity:1;} 50% {opacity:0.5;} 70% {opacity:0.5;} 80% {opacity:1;} 90% {opacity:0.5;} 100% {opacity:0.5;}}
@-moz-keyframes loading5 {0% {opacity:0.5;} 40% {opacity:0.5;} 50% {opacity:1;} 60% {opacity:0.5;} 70% {opacity:1;} 80% {opacity:0.5;} 100% {opacity:0.5;}}
@-moz-keyframes loading6 {0% {opacity:0.5;} 50% {opacity:0.5;} 60% {opacity:1;} 70% {opacity:0.5;} 100% {opacity:0.5;}}

@-o-keyframes loading1 {0% {opacity:0.5;} 10% {opacity:1;} 20% {opacity:0.5;} 100% {opacity:0.5;}}
@-o-keyframes loading2 {0% {opacity:0.5;} 10% {opacity:0.5;} 20% {opacity:1;} 30% {opacity:0.5;} 40% {opacity:0.5;} 90% {opacity:0.5;} 100% {opacity:1;}}
@-o-keyframes loading3 {0% {opacity:0.5;} 20% {opacity:0.5;} 30% {opacity:1;} 40% {opacity:0.5;} 80% {opacity:0.5;} 90% {opacity:1;} 100% {opacity:0.5;}}
@-o-keyframes loading4 {0% {opacity:0.5;} 30% {opacity:0.5;} 40% {opacity:1;} 50% {opacity:0.5;} 70% {opacity:0.5;} 80% {opacity:1;} 90% {opacity:0.5;} 100% {opacity:0.5;}}
@-o-keyframes loading5 {0% {opacity:0.5;} 40% {opacity:0.5;} 50% {opacity:1;} 60% {opacity:0.5;} 70% {opacity:1;} 80% {opacity:0.5;} 100% {opacity:0.5;}}
@-o-keyframes loading6 {0% {opacity:0.5;} 50% {opacity:0.5;} 60% {opacity:1;} 70% {opacity:0.5;} 100% {opacity:0.5;}}

@keyframes loading1 {0% {opacity:0.5;} 10% {opacity:1;} 20% {opacity:0.5;} 100% {opacity:0.5;}}
@keyframes loading2 {0% {opacity:0.5;} 10% {opacity:0.5;} 20% {opacity:1;} 30% {opacity:0.5;} 40% {opacity:0.5;} 90% {opacity:0.5;} 100% {opacity:1;}}
@keyframes loading3 {0% {opacity:0.5;} 20% {opacity:0.5;} 30% {opacity:1;} 40% {opacity:0.5;} 80% {opacity:0.5;} 90% {opacity:1;} 100% {opacity:0.5;}}
@keyframes loading4 {0% {opacity:0.5;} 30% {opacity:0.5;} 40% {opacity:1;} 50% {opacity:0.5;} 70% {opacity:0.5;} 80% {opacity:1;} 90% {opacity:0.5;} 100% {opacity:0.5;}}
@keyframes loading5 {0% {opacity:0.5;} 40% {opacity:0.5;} 50% {opacity:1;} 60% {opacity:0.5;} 70% {opacity:1;} 80% {opacity:0.5;} 100% {opacity:0.5;}}
@keyframes loading6 {0% {opacity:0.5;} 50% {opacity:0.5;} 60% {opacity:1;} 70% {opacity:0.5;} 100% {opacity:0.5;}}

/* Images */
#img_sir_home, #img_sir_help, #modal_img {
-webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; -o-box-flex:1;
}

#sir_bubble_container, #sir_bubble_container_vertical {
	display:block; display:box; display:-webkit-box; display:-moz-box; display:-o-box;
	
	box-orient: horizontal; -moz-box-orient: horizontal; -webkit-box-orient: horizontal; -o-box-orient: horizontal;
	box-align: center; -moz-box-align: center; -webkit-box-align: center; -o-box-align: center;
	box-pack: center; -moz-box-pack: center; -webkit-box-pack: center; -o-box-pack: center;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
	
	margin: 0px;
	padding:0px;
}

#sir_bubble_container_vertical {
	box-orient: vertical; -moz-box-orient: vertical; -webkit-box-orient: vertical; -o-box-orient: vertical;
}

/* Speech bubble */
div.speech_bubble {
	position:relative;
	padding:5px;
	
	max-width:400px; /* Turns ugly if width exceeds a certain value */
	color:#000;
	
	/* Gradients */
	background-color:#f3961c; /* Fallback value */
	background: -moz-linear-gradient(#f9d835, #f3961c); /* FF 3.6+ */  
  background: -ms-linear-gradient(#f9d835, #f3961c); /* IE10 */  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9d835), color-stop(100%, #f3961c)); /* Safari 4+, Chrome 2+ */  
  background: -webkit-linear-gradient(#f9d835, #f3961c); /* Safari 5.1+, Chrome 10+ */  
  background: -o-linear-gradient(#f9d835, #f3961c); /* Opera 11.10 */  
  background: linear-gradient(#f9d835, #f3961c); /* the standard */  
	
	-webkit-border-radius: 8px; -moz-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px;
	
	-moz-box-shadow: 2px 2px 5px #666; -webkit-box-shadow: 2px 2px 5px #666; -o-box-shadow: 2px 2px 5px #666; box-shadow: 2px 2px 2px #666;
	
	-webkit-box-flex: 2; -moz-box-flex: 2; box-flex: 2; -o-box-flex:2;
}

div.speech_bubble.right_triangle {
	margin-right: 20px; /* Space for triangle */
}

div.speech_bubble.bottom_triangle {
	margin-right: 10px; /* Space for triangle */
}

/* Creates triangle ont the left of speech bubble*/
div.speech_bubble.right_triangle:after {
	content:"";
	position:absolute;
	top:10px; /* controls vertical position */
	right:-20px; /* value = - border-left-width - border-right-width */
	border-width:0px 20px 15px 0px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#f9d835 transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* Creates triangle on the bottom of speech bubble*/
div.speech_bubble.bottom_triangle:after {
	content:"";
	position:absolute;
	bottom:-20px; /* controls vertical position */
	left:40px; /* value = - border-left-width - border-right-width */
	border-width:20px 0px 0px 20px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#f3961c transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* Link lists */
ul.link-list {
	list-style:none;
	padding:0px;
	margin:0px -10px; /* Account for padding of content container */
	
	-moz-box-shadow: 0px 0px 5px #666; -webkit-box-shadow: 0px 0px 5px #666; -o-box-shadow: 0px 0px 5px #666; box-shadow: 0px 0px 5px #666;

	transition: opacity 1s  linear; -webkit-transition: opacity 1s  linear; -moz-transition: opacity 1s  linear; -o-transition: opacity 1s  linear;
	
	-webkit-border-radius: 8px; -moz-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px;
}


ul.link-list li a {
	display:block; display:box; display:-webkit-box; display:-moz-box; display:-o-box;
	
	position:relative;
	
	padding:15px 20px 15px 47px;
	height:25px;
	
	text-decoration:none;
	
	background: url(../img/icons/parking_sign_blue.png) 5px center, url(../img/icons/arrow.png) 100% center, #ffffff; /* Old browsers */
	background: url(../img/icons/parking_sign_blue.png) 5px center, url(../img/icons/arrow.png) 100% center, -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #dbdbdb 51%, #ffffff 100%); /* FF3.6+ */
	background: url(../img/icons/parking_sign_blue.png) 5px center, url(../img/icons/arrow.png) 100% center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#dbdbdb), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: url(../img/icons/parking_sign_blue.png) 5px center, url(../img/icons/arrow.png) 100% center, -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#dbdbdb 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: url(../img/icons/parking_sign_blue.png) 5px center, url(../img/icons/arrow.png) 100% center, -o-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#dbdbdb 51%,#ffffff 100%); /* Opera 11.10+ */
	background: url(../img/icons/parking_sign_blue.png) 5px center, url(../img/icons/arrow.png) 100% center, -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#dbdbdb 51%,#ffffff 100%); /* IE10+ */
	background: url(../img/icons/parking_sign_blue.png) 5px center, url(../img/icons/arrow.png) 100% center, linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#dbdbdb 51%,#ffffff 100%); /* W3C */
	background-repeat: no-repeat;
	
	border:1px solid #666;
	border-width: 0px 1px 1px 1px;
	
	border
	
	/* Fade in effect */
	transition: opacity 1s  linear; -webkit-transition: opacity 1s  linear; -moz-transition: opacity 1s  linear; -o-transition: opacity 1s  linear;
}

ul.link-list li:first-child a {
	border-top:1px solid #666;
	
	border-top-left-radius:8px; -moz-border-top-left-radius:8px; -webkit-border-top-left-radius:8px; -o-border-top-left-radius:8px;
	border-top-right-radius:8px; -moz-border-top-right-radius:8px; -webkit-top-right-radius:8px; -o-top-right-radius:8px;
}

ul.link-list li:last-child a {
	border-top:none;
	
	border-bottom-left-radius:8px; -moz-border-bottom-left-radius:8px; -webkit-border-bottom-left-radius:8px; -o-border-bottom-left-radius:8px;
	border-bottom-right-radius:8px; -moz-border-bottom-right-radius:8px; -webkit-bottom-right-radius:8px; -o-bottom-right-radius:8px;
}

ul.link-list li a:active, ul.link-list li a.fake-active  {
	
	/* Gradients */
	background-color:url(../img/icons/parking_sign_blue.png) 5px center, url(../img/icons/arrow_white.png) 100% center,#e67e28; /* Fallback value */
	background: url(../img/icons/parking_sign_blue.png) 5px center, url(../img/icons/arrow_white.png) 100% center,-moz-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* FF 3.6+ */  
  background: url(../img/icons/parking_sign_blue.png) 5px center, url(../img/icons/arrow_white.png) 100% center,-ms-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* IE10 */  
  background: url(../img/icons/parking_sign_blue.png) 5px center, url(../img/icons/arrow_white.png) 100% center,-webkit-gradient(linear, left top, left bottom, color-stop(0.0, #eea151), color-stop(0.49, #ea8f44), color-stop(0.5, #e67e28), color-stop(1.0, #e06818)); /* Safari 4+, Chrome 2+ */  
  background: url(../img/icons/parking_sign_blue.png) 5px center, url(../img/icons/arrow_white.png) 100% center,-webkit-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* Safari 5.1+, Chrome 10+ */  
  background: url(../img/icons/parking_sign_blue.png) 5px center, url(../img/icons/arrow_white.png) 100% center,-o-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* Opera 11.10 */  
  background: url(../img/icons/parking_sign_blue.png) 5px center, url(../img/icons/arrow_white.png) 100% center,linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* the standard */  
	background-repeat: no-repeat;
}

ul.link-list li a:active .link-list-title , ul.link-list li a.fake-active .link-list-title   {
		color:white;
}

ul.link-list a .link-list-title {
	position:absolute;
	
	top:7px;
	font-size:120%;
	font-weight:800;
	color:#000;
}

/* Occupancy visualization */
ul.link-list a .occupancy {
	display:block; display:box; display:-webkit-box; display:-moz-box; display:-o-box;
	
	box-align: center; -moz-box-align: center; -webkit-box-align: center; -o-box-align: center;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
	
	position:absolute;
	bottom:5px;
	
	width:75%;
	height:25%;
	
	padding:0px;
	background-color: #5a5a5a;
	
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	*/
}

ul.link-list a .occupancy .level {
	
	/* Gradients */
	background-color:#green; /* Fallback value */
	background: -moz-linear-gradient(left, green 0%, #ff8c00 50%, red 100%); /* FF 3.6+ */  
  background: -ms-linear-gradient(left, green 0%, #ff8c00 50%, red 100%); /* IE10 */  
  background: -webkit-gradient(linear, left top, right top, color-stop(0, green), color-stop(50%, #ff8c00),color-stop(100%, red)); /* Safari 4+, Chrome 2+ */  
  background: -webkit-linear-gradient(left, green 0%, #ff8c00 50%, red 100%); /* Safari 5.1+, Chrome 10+ */  
  background: -o-linear-gradient(left, green 0%, #ff8c00 50%, red 100%); /* Opera 11.10 */  
  background: linear-gradient(left, green 0%, #ff8c00 50%, red 100%); /* the standard */ 
	
	width:100%;
	height:100%;
	
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	*/
}

ul.link-list a .occupancy .mask {
	position:absolute;
	top:0px;
	right:0px;
	
	width:100%;
	height:100%;
	background-color: #2a2a2a;
	z-index: 10;

	-webkit-transition: width 1s ease-in; -moz-transition: width 1s ease-in; -o-transition: width 1s ease-in; transition: width 1s ease-in;
}

/* Faq accordion styles */
#faq_container {
	margin:10px 0px;
}

#faq_container .faq h1 {
	display:block; display:box; display:-webkit-box; display:-moz-box; display:-o-box;
	
	box-align: center; -moz-box-align: center; -webkit-box-align: center; -o-box-align: center;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
	
	margin:0px -10px; /* Accoutn for content padding */
	padding: 0px 52px;
	height:45px;
	
	/* Gradients */
	background-color:url('../img/icons/plus_white.png') no-repeat 10px center, #505050; /* Fallback value */
	background: url('../img/icons/plus_white.png') no-repeat 10px center,-moz-linear-gradient(#747474 0%, #676767 49%, #505050 50%, #414141 100%); /* FF 3.6+ */  
  background: url('../img/icons/plus_white.png') no-repeat 10px center,-ms-linear-gradient(#747474 0%, #676767 49%, #505050 50%, #414141 100%); /* IE10 */  
  background: url('../img/icons/plus_white.png') no-repeat 10px center, -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #747474), color-stop(0.49, #676767), color-stop(0.5, #505050), color-stop(1.0, #414141));/* Safari 4+, Chrome 2+ */  
  background: url('../img/icons/plus_white.png') no-repeat 10px center,-webkit-linear-gradient(#747474 0%, #676767 49%, #505050 50%, #414141 100%); /* Safari 5.1+, Chrome 10+ */  
  background: url('../img/icons/plus_white.png') no-repeat 10px center,-o-linear-gradient(#747474 0%, #676767 49%, #505050 50%, #414141 100%); /* Opera 11.10 */  
  background: url('../img/icons/plus_white.png') no-repeat 10px center,linear-gradient(#747474 0%, #676767 49%, #505050 50%, #414141 100%); /* the standard */  
	
	cursor:pointer;
	
	/* Text styles */
	color:white;
	font-size:18px;
	text-shadow: 2px 2px 2px #000;
	font-weight:800;
}

#faq_container .faq:first-child h1 {
	border-top-left-radius:8px; -moz-border-top-left-radius:8px; -webkit-border-top-left-radius:8px; -o-border-top-left-radius:8px;
	border-top-right-radius:8px; -moz-border-top-right-radius:8px; -webkit-top-right-radius:8px; -o-top-right-radius:8px;
}

#faq_container .faq h1.fake-active, #faq_container .faq h1:active  {

	/* Gradients */
	background-color:url('../img/icons/plus_white.png') no-repeat 10px center,#e67e28; /* Fallback value */
	background: url('../img/icons/plus_white.png') no-repeat 10px center,-moz-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* FF 3.6+ */  
  background: url('../img/icons/plus_white.png') no-repeat 10px center,-ms-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* IE10 */  
  background: url('../img/icons/plus_white.png') no-repeat 10px center,-webkit-gradient(linear, left top, left bottom, color-stop(0.0, #eea151), color-stop(0.49, #ea8f44), color-stop(0.5, #e67e28), color-stop(1.0, #e06818)); /* Safari 4+, Chrome 2+ */  
  background: url('../img/icons/plus_white.png') no-repeat 10px center,-webkit-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* Safari 5.1+, Chrome 10+ */  
  background: url('../img/icons/plus_white.png') no-repeat 10px center,-o-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* Opera 11.10 */  
  background: url('../img/icons/plus_white.png') no-repeat 10px center,linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* the standard */  
}

#faq_container .faq p {
	display:block; display:box; display:-webkit-box; display:-moz-box; display:-o-box;
	position:relative;
	
	box-align: center; -moz-box-align: center; -webkit-box-align: center; -o-box-align: center;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
	
	overflow-y:scroll;
	
	margin:0px -10px;
	padding: 0px 15px;
	height:0px; /* height is animated */
	
	background-color:#FFF;
	
	/* Accordion effect */
	transition: height 0.5s  ease-in-out; -webkit-transition: height 0.5s  ease-in-out; -moz-transition: height 0.5s   ease-in-out; -o-transition: height 0.5s   ease-in-out;
}

#faq_container .faq p.open:after {
	content:"";
	display:block;
	position:absolute;
	
	top:0px;
	left:0px;
	
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color: #e06818 transparent transparent transparent;
	border-width: 30px 30px 30px 0px;
}

#faq_container .faq p.open:before {
	content:"";
	display:block;
	position:absolute;
	
	bottom:0px;
	right:0px;
	
	width:0px;
	height:0px;
	
	border-style:solid;
	border-color: transparent transparent #747474 transparent;
	border-width: 30px 0px 30px 30px;
}


#faq_container .faq h1.open{
		/* Gradients */
	background-color:url('../img/icons/minus_white.png') no-repeat 10px center,#e67e28; /* Fallback value */
	background: url('../img/icons/minus_white.png') no-repeat 10px center,-moz-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* FF 3.6+ */  
  background: url('../img/icons/minus_white.png') no-repeat 10px center,-ms-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* IE10 */  
  background: url('../img/icons/minus_white.png') no-repeat 10px center,-webkit-gradient(linear, left top, left bottom, color-stop(0.0, #eea151), color-stop(0.49, #ea8f44), color-stop(0.5, #e67e28), color-stop(1.0, #e06818)); /* Safari 4+, Chrome 2+ */  
  background: url('../img/icons/minus_white.png') no-repeat 10px center,-o-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* Opera 11.10 */  
  background: url('../img/icons/minus_white.png') no-repeat 10px center,linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* the standard */  
}

#faq_container .faq p.open {
	height:150px;
}

/* Switch buttons */

.switch {
	display:block; display:box; display:-webkit-box; display:-moz-box; display:-o-box;
	
	position:relative;
	
	box-orient: horizontal; -moz-box-orient: horizontal; -webkit-box-orient: horizontal; -o-box-orient: horizontal;
	box-align: center; -moz-box-align: center; -webkit-box-align: center; -o-box-align: center;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
	
	-webkit-border-radius: 8px; -moz-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px;
	
	background: #EEE;
	border:1px solid #CCC;
	
	width:70%;
}

.switch input {
	display:none;
}

.switch .slide {
	display:block; display:box; display:-webkit-box; display:-moz-box; display:-o-box;

	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
	
	position:absolute;
	
	top:0px;
	left:0px;
	
	-webkit-border-radius: 8px; -moz-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px;
	
	height:40px;
	width:50%;
	
	border:1px solid #000;
	
	/* Gradients */
	background-color:#444; /* Fallback value */
	background: -moz-linear-gradient(#888, #444); /* FF 3.6+ */  
  background: -ms-linear-gradient(#888, #444); /* IE10 */  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #888), color-stop(100%, #444)); /* Safari 4+, Chrome 2+ */  
  background: -webkit-linear-gradient(#888, #444); /* Safari 5.1+, Chrome 10+ */  
  background: -o-linear-gradient(#888, #444); /* Opera 11.10 */  
  background: linear-gradient(#888, #444); /* the standard */  
	
	-webkit-transform: translate3d(0%,0,0); transform: translate3d(0%,0,0); -moz-transform: translate3d(0%,0,0); -o-transform: translate3d(0%,0,0);
	
	/* Slide effect */
	transition: all 0.25s ease-in-out; -webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out; -o-transition: all 0.25s ease-in-out;
}

.switch .slide.selected {
	-webkit-transform: translate3d(100%,0,0); transform: translate3d(100%,0,0); -moz-transform: translate3d(100%,0,0); -o-transform: translate3d(100%,0,0);
	
	/* Gradients */
	background-color:#458B00; /* Fallback value */
	background: -moz-linear-gradient(#7fff00, #006400); /* FF 3.6+ */  
  background: -ms-linear-gradient(#7fff00, #006400); /* IE10 */  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fff00), color-stop(100%, #006400)); /* Safari 4+, Chrome 2+ */  
  background: -webkit-linear-gradient(#7fff00, #006400); /* Safari 5.1+, Chrome 10+ */  
  background: -o-linear-gradient(#7fff00, #006400); /* Opera 11.10 */  
  background: linear-gradient(#7fff00, #006400); /* the standard */  
}	

.switch .enable,.switch .disable {
	display:block; display:box; display:-webkit-box; display:-moz-box; display:-o-box;
	
	box-align: center; -moz-box-align: center; -webkit-box-align: center; -o-box-align: center;
	box-pack: center; -moz-box-pack: center; -webkit-box-pack: center; -o-box-pack: center;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
	
	height:40px;
	
	font-size:large;
	font-weight:800;
	
	-webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; -o-box-flex:1;
}

.switch:active {
	background:#f3961c;
}

#options_list {
	list-style:none;
}

#options_list .options_label{
	font-size:large;
}