<!doctype html>
<!-- Conditional comment for mobile ie7 http://blogs.msdn.com/b/iemobile/ -->
<!--[if IEMobile 7 ]>    
<html class="no-js iem7">
	<![endif]-->
	<!--[if (gt IEMobile 7)|!(IEMobile)]> 
	<html class="no-js">
		<![endif]-->
		<html>
			<head>
				<meta charset="utf-8" />
				<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
				<title>Sir FindALot - Please Upgrade</title>
				<meta name="description" content="Sir FindALot helps you find your lot" />
				<meta name="author" content="Team Amazonen" />
				<!-- Mobile viewport settings -->
				<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
				<!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
				<meta name="HandheldFriendly" content="True" />
				<meta name="MobileOptimized" content="320" />
			
				<!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
				<meta http-equiv="cleartype" content="on" />
				<!-- consider using below meta tags if you want to disable format detection by default -->
				<meta name="format-detection" content="telephone=no" />
				<meta name="format-detection" content="address=no" />
				
				<!-- Stylesheets -->
				<%= stylesheet_link_tag 'mobile/bt.style.css' %>
				<%= javascript_include_tag 'mobile/xui.min.js' %>
				
				<!-- Modernizer script to detect browser capabilities -->
				<%= javascript_include_tag 'mobile/modernizr' %>
			</head>
			<body style="text-align:center;">
				<h1 style="display:block; background:#1a1a1a; color:white; padding: 2px;">I am so sorry!</h1>
				<%= image_tag "mobile/sir_error.png", :alt => "Sir FindALot detected an error." %>
				<h2 style="display:block; border-top:1px solid; border-bottom:1px solid; font-size:110%; background:#EEE; padding: 2px;">Your browser does not support one or more key features to run the website.</h2>
				<p style="background:#CCC; display:block; margin:0 10%; color:black; padding:5px; border:1px solid #AAA; border-radius:5px;">Sir FindAlot uses the latest technologies for building feature rich websites, namely <a style="font-style:italic; color:#666;  border-bottom: 1px dotted #666;">CSS3/HTML5</a>. It seems like your browser does not support one or more needed features to render the site correctly.</br>
				If your are on Android OS please try using the stock browser or upgrade to the latest release.</p>
				<div id="features">
					<table style="margin:15px auto; border:1px solid; background-color:green; font-weight:bold;">
						<tr><td id="flexbox">Flexbox</td></tr>
						<tr><td id="cssgradient">CSSGradient</td></tr>
						<tr><td id="cssanimations">CSSAnimations</td></tr>
						<tr><td id="csstransitions">CSSTransitions</td></tr>
						<tr><td id="csstransforms">CSSTransforms</td></tr>
						<tr><td id="borderradius">Borderradius</td></tr>
						<tr><td id="boxshadow">Boxshadow</td></tr>
						<tr><td id="applicationcache">Application Cache</td></tr>
						<tr><td id="textshadow">Textshadow</td></tr>
						<tr><td id="fontface">Fontface</td></tr>
						<tr><td id="localstorage">LocalStorage</td></tr>
						<tr><td id="opacity">Opacity</td></tr>
						<tr><td id="generatedcontent">CSS Generated Content</td></tr>
					</table>
				</div>
				
				<script type="text/javascript">
					var $ = x$;
					var m = Modernizr, style = {'background-color': 'red', 'color' : 'white'};
					
					if (!m.flexbox) $('#flexbox').css(style);
					if (!m.cssgradients) $('#cssgradient').css(style);
					if (!m.cssanimations) $('#cssanimations').css(style);
					if (!m.csstransitions) $('#csstransitions').css(style);
					if (!m.csstransforms) $('#csstransforms').css(style);
					if (!m.borderradius) $('#borderradius').css(style);
					if (!m.boxshadow) $('#boxshadow').css(style);
					if (!m.applicationcache) $('#applicationcache').css(style);
					if (!m.textshadow) $('#textshadow').css(style);
					if (!m.fontface) $('#fontface').css(style);
					if (!m.opacity) $('#opacity').css(style);
					if (!m.localstorage) $('#localstorage').css(style);
					if (!m.generatedcontent) $('#generatedcontent').css(style);
				</script>
			</body>
		</html>
