#page
  %h2 What
  %p
    SirFindALot is a mobile based web-application to find a free parking lot based
    on your geolocation.
  

  %h2 Why
  %p
    SirFindALot is a project created at the University Of Passau in 2011.
    The project goals were to develop a mobile application that satisfies 
    social's needs.

  %h2 Who
  %p
    SirFindALot was founded by Daniel Watzinger, Sebastian Rainer and Bastian Huber
    as students at University of Passau.
