#page
  %h2 What
  %p
    %b Sir FindALot
    is a webapplication with the goal to guide and provide you with information during your search for a free lot.
  

  %h2 Why
  %p
    %b Sir FindALot
    is a student project developed at the University of Passau in the course of the lecture "Pervasive Computing" during the winter semester 11/12.
    The project aims to provide a mobile application that demonstrates ubiquitous computing.

  %h2 Who
  %p
    %b Sir FindALot 
    is developed by Daniel Watzinger, Sebastian Rainer and Bastian Huber, M.sc Computer Science students at University of Passau.
