%dl
  %dt POST /searches.json
  %dd TODO by Rainers. Returns an array of parkingramps.
  
  %dt GET /parkingramps/:id.json
  %dd Returns the parkingramp with the given id. All planes and lots are included.
  %dl
    %dt :id
    %dd The unique id of the parkingramp that should be returned.
