%ul
  %li=link_to 'What is SirFindALot?', '#whatissirfindalot'
  %li=link_to 'How can I get SirFindALot on my phone?', '#howtoget'
  %li=link_to 'Is it free?', '#isitfree'
  %li=link_to 'How can I contribute my parkingramp?', '#howtocontribute'
  %li=link_to 'How are the privacy settings of SirFindALot?', '#privacy'

=faq "whatissirfindalot", "What is SirFindALot?" do
  Some awesome shit!

#whatissirfindalot.faq
  .question
  .answer
  
#howtoget.faq
  .question
  .answer

#isitfree.faq
  .question
  .answer

#howtocontribute.faq
  .question
  .answer

#privacy.faq
  .question
  .answer
