%ul.faqlist
  %li=link_to 'What is SirFindALot?', '#whatissirfindalot'
  %li=link_to 'How can I get SirFindALot on my phone?', '#howtoget'
  %li=link_to 'Is it free?', '#isitfree'
  %li=link_to 'How can I contribute my parkingramp?', '#howtocontribute'
  %li=link_to 'How are the privacy settings of SirFindALot?', '#privacy'

#whatissirfindalot.faq
  .question What is SirFindALot?
  .answer SirFindLot helps you to find you a free lot. The web-application searches the nearest parkinglots based on your geolocation and your searches already submitted.
  
#howtoget.faq
  .question How can I get SirFindALot on my phone?
  .answer
    Just got to
    = link_to "sirfindalot.com", '/'
    and bookmark this page with your mobile phone. You do not have to install anything. Just run the website in your browser and allow it to use your location.

#isitfree.faq
  .question Is it free?
  .answer The service is completely free for you.

#howtocontribute.faq
  .question How can I contribute my parkingramp?
  .answer
    Navigate to
    = link_to "sirfindalot.com/operators/sign_up", '/operators/sign_up'
    with your browser. Sign up to be able to contribute your ramps.

#privacy.faq
  .question How are the privacy settings of SirFindALot?
  .answer No personal data of you except that one you provide as contributor are saved on our servers.
