%ul#slides-links
  %li= link_to "Search your ramp", "#slide_ramp"
  %li= link_to "Select your plane", "#slide_plane"
  %li= link_to "Show map", "#slide_map"
  %li= link_to "Show infos", "#slide_infos"
  
#slides
  #slide_ramp.slide
    #page-home-slogan
      SirFindALot is eager to find your lot!
    Ramp slide
  #slide_plane.slide
    Plane slide
  #slide_map.slide
    Map slide
  #slide_infos.slide
    Info slide
