%h1 Listing parkingramps

%ul#parkingramps
  - @parkingramps.each do |parkingramp|
    %li
      =parkingramp.name
      =link_to t(:edit), edit_admin_parkingramp_path(parkingramp)
      =link_to t(:destroy), [:admin, parkingramp], :method => :delete, :confirm => t(:sure)
      =link_to t(:newplane), new_admin_parkingramp_parkingplane_path(parkingramp)
      %ul.parkingramps-planes
        - parkingramp.parkingplanes.each do |parkingplane|
          %li
            =parkingplane.name
            =link_to t(:edit), edit_admin_parkingramp_parkingplane_path(parkingramp, parkingplane)
            =link_to t(:destroy), [:admin, parkingramp, parkingplane], :confirm => t(:sure), :method => :delete


%br

= link_to 'New Parkingramp', new_admin_parkingramp_path
