#global-header {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565a60), color-stop(100%,#1a1a1a));
	text-align:center;
	color:white;
	font-size:130%;
	padding:20px 0 20px 0;
}

#global-footer {
	height:60px;
	background-color:black;
}

#global-header, #global-footer {
	z-Index:100;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565a60), color-stop(100%,#1a1a1a));
}

.clear {
	clear:both;
}

/*
 * Page style...
 */
div[data-type=page] {
	padding:0px 10px 0px 10px;
	background-color:#D5D5D5;
}

/*
 * Page content style...
 */
#pages div[data-type=page-content] {
	padding:70px 0px 40px 0px; /* Necessary padding because header and footer */
}

/*
 * Toolbar
 */
ul.toolbar {
	list-style:none;
	padding:0px;
	margin:0px;
	margin:0px auto;
	line-height:60px; /* Same as footer */
}

ul.toolbar li {
	display:inline-block;
	height:100%;
	width:100px;
	text-align:center;
}

ul.toolbar li a {
	display:block;
	height:100%;
	width:100%;
	color:white;
	text-decoration:none;
}

ul.toolbar li a:hover {
	text-shadow: 0px 0px 8px #ffb157;
}

/*
 * Link List
 */
ul.link-list {
	list-style:none;
	padding:0px;
	margin:0px;
	background-color:#EEE;
	-webkit-border-radius: 6px; 
}

ul.link-list li a {
	display:block;
	padding:20px 0 20px 0;
	width:100%;
	text-indent:35px;
	font-size:115%;
	color:#323232;
	text-decoration:none;
	background:url(arrow.png) no-repeat 95% center;
	border:1px solid #AAA;
	border-width:0 1px 1px 1px;
}

ul.link-list li:first-child a {
	border-width:1px 1px 1px 1px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px; 
}

ul.link-list li:last-child a {
	border-width:0 1px 1px 1px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
}

ul.link-list li a:hover, ul.link-list li a:active {
	border-color: #ba6600;
	color:white;
	background:url(arrow.png) no-repeat 95% center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9e27), color-stop(100%,#ec8200));
}
