%dl
  %dt API Token
  %dd= current_operator.authentication_token
  
  %dt GET /admin/api/parkinglots/:id?taken=:taken&auth_key=:api_token
  %dd To set the taken flag of a lot, request the above url with following parameters
  %dl
    %dt :id
    %dd The unique id of the lot
    
    %dt :taken
    %dd true/false
    
    %dt :api_token
    %dd Your api token so that you can be authenticated against the system.
