#parkinglots {
  width:100%;
  height:600px;
  background-color:white;
  position:relative;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

#parkinglots .lot {
  position:absolute;
  background-color:black;
  margin:1px;
  width:18px;
  height:18px;
}

// Some styles
.brushlink { height:5px; }
.brush_concrete_street { background-color:#999 !important;}
.brush_concrete_entry { background-color:#00FF00 !important;}
.brush_concrete_exit { background-color:#FF0000 !important;}
.brush_parkinglot_normal { background-color:#000 !important;}
.brush_parkinglot_disabled { background-color:#0000FF !important;}
.brush_parkinglot_women { background-color:orange !important;}

#parkinglots-brushes a {
  display:inline-block;
  padding:10px;
}

#parkinglots-brushes a.active-brush {
  background-color:black;
  color:white;
}
