/*
 *= require pages
 */

// Default Definitions
$default-width: 981px;
$default-bg: #393E43;
$default-font: 'Signika Negative', sans-serif;
$default-color: #444;
$default-orange: #F3961C;
$content-left:200px;
$content-padding:20px;


$padding:20px;


// Mixins
@mixin border($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// Classes

body {
  font-family:$default-font;
  color: $default-color;
  padding:0;
  margin:0;
}

a {
  text-decoration:none;
  color:$default-orange;
}

a:hover {
  color:darken($default-orange, 20%);
}

input {
  padding:4px;
}

#content-wrapper {
  padding-bottom:20px;
}



#wrapper {
  padding:10 20px 20px 20px;
}

#wrapper, #footer {
  width:$default-width;
  margin:0 auto;
}

#footer ul {
  list-style:none;
  padding-left:10px;
}

#footer ul a {
  font-weight:bold;
}

#header {
  position:relative;
  height:75px;
  padding:10px;
}

#headerlist {
  @extend .ul-no-style;
  position:absolute;
  right:0;
  top:25px;
}

#headerlist>li {
  position:relative;
}

#headerlist>li>a {
  @include border(10px);
  padding:8px;
  color:$default-orange;
  font-size:130%;
  text-shadow:1px 1px 1px black; font-weight:bold;
}

#headerlist>li>a:hover {
  color:lighten($default-orange, 20%);
}

#logo {position:relative; font-size:60px;width:50%;float:left;text-indent:70px;}
#logo a { text-shadow:1px 1px 1px black; font-weight:bold; }
#logo img { position:absolute; }

#content {
  @include border(20px);
  padding:$content-padding;
  background:#EEE;
  background:rgba(0,0,0,0.15);
}

#content-left {
  float:left;
  width:$content-left;
}

#content-right {
  float:left;
  padding-left:$content-padding;
  width:$default-width - $content-padding*3 - $content-left;
}

#footer-wrapper {
  border-top:2px solid lighten($default-color,50%);
  background:white;
}

.clear {
  clear:both;
}

.linklist {
  width:$default-width/4;
  float:left;
}

#about {
  width:$default-width/2;
  float:left;
  font-style:italic;
}

.ul-no-style {
  list-style:none;
  padding:0;
  margin:0;
}

.ul-no-style li {
  display:inline-block;
}

input, select, textarea {
  @include border(6px);
  border:1px solid #333;
  font-family:$default-font;
}

input[type=submit] {
  color:#333;
  border:1px solid #999;
  padding:0 40px 0 40px;
  float:right;
}

.devisebox {
  @include border(10px);
  width:$default-width / 2;
  margin:0 auto;
  background-color: white;
  padding:20px;
}

.devisebox input {
  width:94%;
  padding:3%;
  font-size:150%;
}

.devisebox input[type=submit] {
  width:100%;
}

.devisebox input[type=checkbox] {
  width:auto;
}

label {
  vertical-align:top;
  display:inline-block;
  width:9em;
}

.parkingramp-form textarea {
  width:100%;
  height:60px;
}

.flash-message {
  @include border(5px);
  padding:10px;
  border:1px solid darker(#E65C00);
  text-align:center;
  margin:20px;
  color:#FFF;
	background-color:#e67e28; /* Fallback value */
	background:-moz-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* FF 3.6+ */  
  background: -ms-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* IE10 */  
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #eea151), color-stop(0.49, #ea8f44), color-stop(0.5, #e67e28), color-stop(1.0, #e06818)); /* Safari 4+, Chrome 2+ */  
  background: -webkit-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* Safari 5.1+, Chrome 10+ */ 
  background: -o-linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* Opera 11.10 */  
  background: linear-gradient(#eea151 0%, #ea8f44 49%, #e67e28 50%, #e06818 100%); /* the standard */ 
	-moz-box-shadow: 2px 2px 5px #666; -webkit-box-shadow: 2px 2px 5px #666; -o-box-shadow: 2px 2px 5px #666; box-shadow: 2px 2px 2px #666;
}

.activity-indicator {
  z-index:101;
}

.overlay {
  z-index:100;
  @include border($padding);
  background-color:black;
  position:absolute;
  left:0px;
  right:0px;
  bottom:0px;
  top:0px;
}

#content>.overlay {
  left:$padding/2;
  right:$padding/2;
  bottom:$padding/2;
  top:$padding/2;
}
