/*
 *= require pages
 */

// Default Definitions
$default-width: 981px;
$default-bg: #393E43;
$default-font: 'Signika Negative', sans-serif;
$default-color: #444;
$default-orange: #F3961C;


$padding:20px;


// Mixins
@mixin border($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// Classes

body {
  font-family:$default-font;
  color: $default-color;
  padding:0;
  margin:0;
}

a {
  text-decoration:none;
  color:$default-orange;
}

input {
  padding:4px;
}

#content-wrapper {
  padding-bottom:20px;
}

#wrapper {
  padding:10 20px 20px 20px;
}

#wrapper, #footer {
  width:$default-width;
  margin:0 auto;
}

#header {
  position:relative;
  height:75px;
  padding:10px;
}

#headerlist {
  @extend .ul-no-style;
  position:absolute;
  right:0;
  top:25px;
}

#headerlist>li {
  position:relative;
}

#headerlist>li>a {
  @include border(10px);
  padding:8px;
  color:$default-orange;
  font-size:130%;
  text-shadow:1px 1px 1px black; font-weight:bold;
}

#headerlist>li>a:hover {
  color:lighten($default-orange, 20%);
}

#logo {position:relative; font-size:60px;width:50%;float:left;text-indent:70px;}
#logo a { text-shadow:1px 1px 1px black; font-weight:bold; }
#logo img { position:absolute; }

#content {
  @include border(20px);
  padding:20px;
  background:#EEE;
  background:rgba(0,0,0,0.15);
}

#footer-wrapper {
  border-top:2px solid lighten($default-color,50%);
  background:white;
}

.clear {
  clear:both;
}

.linklist {
  width:$default-width/5;
  float:left;
}

#about {
  width:2* $default-width/5;
  float:left;
}

.ul-no-style {
  list-style:none;
  padding:0;
  margin:0;
}

.ul-no-style li {
  display:inline-block;
}

input, select, textarea {
  @include border(6px);
  border:1px solid #333;
  font-family:$default-font;
}

input[type=submit] {
  height: 44px;
  color:#333;
  border:1px solid #999;
  padding:0 40px 0 40px;
  float:right;
}

.devisebox {
  @include border(10px);
  width:$default-width / 2;
  margin:0 auto;
  background-color: white;
  padding:20px;
}

.devisebox input {
  width:94%;
  padding:3%;
  font-size:150%;
}

.devisebox input[type=submit] {
  width:100%;
}

.devisebox input[type=checkbox] {
  width:auto;
}

#operator-flyout-trigger:hover #operator-flyout {
  display:block;
}

#operator-flyout {
  @include border(10px 0 10px 10px);
  position:absolute;
  display:none;
  background-color:white;
  width:$default-width/4;
  padding:10px;
  right:0;
  background:#EEE;
  background:rgba(0,0,0,0.10);
}

#operator-flyout ul {
  position:static;
}

#operator-flyout ul li {
  position:static;
  display:block;
}

#operator-flyout ul li a {
  color:black;
}

#operator-flyout ul li a:hover {
  background:none;
}

#operator-panel {
  @extend .ul-no-style;
}

#operator-panel li {
  @include border(5px 25px 25px 5px);
  background:url(/assets/transparent.png);
  padding:7px 20px 7px 10px;
}


label {
  vertical-align:top;
  display:inline-block;
  width:9em;
}

.parkingramp-form textarea {
  width:100%;
  height:60px;
}

.flash-message {
  @include border(5px);
  padding:10px;
  background-color:#FFCC99;
  border:1px solid darker(#E65C00);
  text-align:center;
  margin:20px;
}

.activity-indicator {
  z-index:101;
}

.overlay {
  z-index:100;
  @include border($padding);
  background-color:black;
  position:absolute;
  left:0px;
  right:0px;
  bottom:0px;
  top:0px;
}

#content>.overlay {
  left:$padding/2;
  right:$padding/2;
  bottom:$padding/2;
  top:$padding/2;
}
