body {
	font-family:'Terminal Dosis', serif;
	font-size:18pt;
	color:white;
	padding:0;
	margin:0;
}

#pages {
	overflow-x:hidden;
	width:100%;
	background: #F0F0F0;
}

div[data-type=option] {
	background: #F0F0F0;
	display:none;
}

div[data-type=page] {
	position:absolute;
	display:none;
	background: #F0F0F0;
}

div[data-type=page].active {
	display:block;
}

.slide.in {
    -webkit-transform: translateX(0);
    -webkit-animation-name: slideinfromright;
}

.slide.out {
    -webkit-transform: translateX(-100%);
    -webkit-animation-name: slideouttoleft;
}

@-webkit-keyframes slideinfromright {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(0); }
}
@-webkit-keyframes slideouttoleft {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(-100%); }
}

.slide.in.reverse {
    -webkit-transform: translateX(0);
    -webkit-animation-name: slideinfromleft;
}

.slide.out.reverse {
    -webkit-transform: translateX(100%);
    -webkit-animation-name: slideouttoright;
}

@-webkit-keyframes slideinfromleft {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(0); }
}

@-webkit-keyframes slideouttoright {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(100%); }
}

.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 200ms;
}



.content {
	margin:10px;
}

#menu {
  width:100%;
  height:50px;
  position:fixed;
  bottom:0px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,188,191,1)), color-stop(50%,rgba(110,119,116,1)), color-stop(51%,rgba(10,14,10,1)), color-stop(100%,rgba(10,8,9,1))); 
}

#menu a {
	display:block;
	width:33%;
	height:100%;
	float:left;
	color:black;
	line-height:50px;
	font-size:13px;
	text-align:center;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,188,191,1)), color-stop(50%,rgba(110,119,116,1)), color-stop(51%,rgba(10,14,10,1)), color-stop(100%,rgba(10,8,9,1))); 
	border:1px solid rgba(69,72,77,1));
	color:white;
	text-decoration:none;
	font-weight:bold;
}

#menu a:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(195,205,207,1)), color-stop(50%,rgba(146,154,151,1)), color-stop(51%,rgba(61,85,61,1)), color-stop(100%,rgba(79,63,71,1)))
}

.menu, .header {
	display:none;
}

#header {
	position:fixed;
	width:100%;
	left:0px;
	top:0px;
	height:40px;
	line-height:40px;
	text-align:center;
	font-weight:bold;
	background-color:black;
	text-shadow: 1px 1px 2px #000000;
	-webkit-box-shadow:0px 2px 4px #000000;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(33,144,255,1)), color-stop(44%,rgba(18,131,244,1)), color-stop(100%,rgba(19,115,211,1)));
}

#header .button {
	position:absolute;
	top:0px;
	z-index:100;
	font-size:50%;
	-webkit-border-radius:10%;
	height:30px;
	margin:5px;
	padding:0 10px 0px 10px;
	-webkit-box-shadow: 0 0 3px black;
	line-height:30px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(33,144,255,1)), color-stop(44%,rgba(18,131,244,1)), color-stop(100%,rgba(19,115,211,1)));
}

.button[data-position=right] {
	right:0px;
}

.button[data-position=left] {
	left:0px;
}

#header a {
	display:block;
	width:100%;
	height:100%;
	color:white;
	text-decoration:none;
}


div.content {
	padding:50px 0px 50px 0px;
	color:#222;
}
