
/* Global font setting */
body {
	font-family: 'Terminal Dosis', sans-serif;
}

#global-header {	
	-moz-box-shadow: 0px 5px 5px #888;
	-webkit-box-shadow: 0px 5px 5px #888;
	box-shadow: 0px 5px 5px #888;
	
	border-bottom: 1px solid #CCC;
}

#global-footer {
	-moz-box-shadow: 0px -5px 5px #888;
	-webkit-box-shadow: 0px -5px 5px #888;
	box-shadow: 0px -5px 5px #888;
	
	border-top: 1px solid #CCC;
}

#global-header, #global-footer {
	display:box;
	display:-webkit-box;
	display:-moz-box;
	
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	
	z-index:100;
	height:45px;
	
	background-color:#000; /* Fallback value */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565a60), color-stop(100%,#1a1a1a));
	
	/* Text styles */
	color:white;
	font-size:large;
	text-shadow: 2px 2px 2px #000;
	font-weight:800;
}

/* Footer navbar styles */
footer nav.navbar {
	padding:0px;
	margin:0px;
	
	display:box;
	display:-webkit-box;
	display:-moz-box;

	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	width:100%;
	
	box-align: center;
	-moz-box-align: center;
	-webkit-box-align: center;
	
	box-pack: center;
	-moz-box-pack: center;
	-webkit-box-pack: center;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	transition: all 0.5s  ease-in-out;
  -webkit-transition: all 0.5s  ease-in-out;
	-moz-transition: all 0.5s  ease-in-out;
	
	/* height:45px; */ /* Same as footer */
}

footer nav.navbar a {
	display:box;
	display:-webkit-box;
	display:-moz-box;
	
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
	
	box-pack: center;
	-moz-box-pack: center;
	-webkit-box-pack: center;
	
	box-align: center;
	-moz-box-align: center;
	-webkit-box-align: center;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	/* Active background color fade in-out */
	transition: all 0.25s  ease-in-out;
  -webkit-transition: all 0.25s  ease-in-out;
	-moz-transition: all 0.25s  ease-in-out;
	
	/* border-right:2px solid #222; */
	height:45px; /* Same as footer */
	text-align:center;
	
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	
	text-decoration:none;
	color:white;
}

footer nav.navbar a:last-child {
	border:none;
}

/* no :active on android, use :fake-active instead and handle events using js */
nav.navbar a:active {
	background-color:#f3961c;
}

nav.navbar a.fake-active  {
	background-color:#f3961c!important;
}

/* Content container styles */
#viewport {
	top:45px;
	bottom:45px;
	background-color:#D5D5D5; /* Hide sliding glitches */
	font-weight:600;
}

#viewport div[data-type=page] {
	background-color:#D5D5D5;
}

/* Page content styles */
#viewport div[data-type=page-content] {
	margin:0px;
	padding:15px 10px;
}

/* Input fields, etc */
#geolocation_search {
	display:block;
	margin:0px auto;
	margin-bottom:15px;
	width:75%;
	padding: 5px 5px;
	border: 1px solid #AAA;
	
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;

}

/* Images */
#img_sir_frontpage {
	width:70px;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	
}

#sir_home_container {
	margin: 0px;
	padding:0px;
	display:box;
	display:-webkit-box;
	display:-moz-box;
	
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
	
	box-pack: center;
	-moz-box-pack: center;
	-webkit-box-pack: center;
	
	box-align: center;
	-moz-box-align: center;
	-webkit-box-align: center;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	/* Active background color fade in-out */
	transition: all 0.25s  ease-in-out;
  -webkit-transition: all 0.25s  ease-in-out;
	-moz-transition: all 0.25s  ease-in-out;
}

/* Speech bubble */
div.speech_bubble {
	position:relative;
	margin-right: 20px; /* Space for triangle */
	padding:5px;
	width:100%;
	max-width:400px; /* Turns ugly if width exceeds a certain value */
	color:#000;
	background:#f3961c; /* default background for browsers without gradient support */
	
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
	background:-moz-linear-gradient(#f9d835, #f3961c);
	background:-o-linear-gradient(#f9d835, #f3961c);
	background:linear-gradient(#f9d835, #f3961c);
	
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
	
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	box-flex: 2;
}

/* creates triangle */
div.speech_bubble:after {
	content:"";
	position:absolute;
	top:10px; /* controls vertical position */
	right:-20px; /* value = - border-left-width - border-right-width */
	border-width:0px 20px 15px 0px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#f9d835 transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}



/*
 * Link List
 */
ul.link-list {
	list-style:none;
	padding:0px;
	margin:0px;
	background-color:#EEE;
	
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px; 
	
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
}

ul.link-list li a {
	display:block;
	padding:15px 0 15px 0;
	width:100%;
	text-indent:35px;
	font-size:115%;
	font-weight:800;
	color:#323232;
	text-decoration:none;
	background:url('../img/arrow.png') no-repeat 95% center;
	border:1px solid #AAA;
	border-width:0 1px 1px 1px;
}

ul.link-list li:first-child a {
	border-width:1px 1px 1px 1px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px; 
	-moz-border-top-left-radius: 20px;
	-moz-border-top-right-radius: 20px; 
	border-top-left-radius: 20px;
	border-top-right-radius: 20px; 
}

ul.link-list li:last-child a {
	border-width:0 1px 1px 1px;
	-webkit-border-bottom-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-bottom-left-radius: 20px;
	-moz-border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

ul.link-list li a:hover, ul.link-list li a:active {
	border-color: #ba6600;
	color:white;
	background:url('../img/arrow.png') no-repeat 95% center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9e27), color-stop(100%,#ec8200));
}
