/* TODO
- Fallback for flexbox model: e.g. display:block;
*/


/* Global font setting */
body {
	font-family: 'Terminal Dosis', sans-serif;
}

#global-header {
	-moz-box-shadow: 0px 2px 5px #666;
	-webkit-box-shadow: 0px 2px 5px #666;
	box-shadow: 0px 2px 5px #666;
	
	border-bottom: 1px solid #CCC;
}

#global-footer {
	-moz-box-shadow: 0px -2px 5px #666;
	-webkit-box-shadow: 0px -2px 5px #666;
	box-shadow: 0px -2px 5px #666;

	border-top: 1px solid #CCC;
}

#global-header, #global-footer {
	display:box;
	display:-webkit-box;
	display:-moz-box;
	display:-o-box;
	
	box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	
	box-align: center;
	-moz-box-align: center;
	-webkit-box-align: center;
	
	box-pack: center;
	-moz-box-pack: center;
	-webkit-box-pack: center;
	
	z-index:100;
	height:45px;
	
	background-color:#1a1a1a; /* Fallback value */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565a60), color-stop(100%,#1a1a1a));
	
	/* Text styles */
	color:white;
	font-size:large;
	text-shadow: 2px 2px 2px #000;
	font-weight:800;
}

/* Footer navbar styles */
footer nav.navbar {
	display:box;
	display:-webkit-box;
	display:-moz-box;
	display:-o-box;
	
	box-align: center;
	-moz-box-align: center;
	-webkit-box-align: center;
	
	box-pack: center;
	-moz-box-pack: center;
	-webkit-box-pack: center;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	padding:0px;
	margin:0px;

	left:0px;
	top:0px;
	width:100%;
}

footer nav.navbar a {
	display:box;
	display:-webkit-box;
	display:-moz-box;
	display:-o-box;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	box-align: center;
	-moz-box-align: center;
	-webkit-box-align: center;
	
	box-pack: center;
	-moz-box-pack: center;
	-webkit-box-pack: center;
	
	/* Active background color fade in-out */
	transition: all 0.25s  ease-in-out;
  -webkit-transition: all 0.25s  ease-in-out;
	-moz-transition: all 0.25s  ease-in-out;
	
	height:45px; /* Same as footer */
	
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	
	text-decoration:none;
	color:white;
}

/* no :active on android, use :fake-active instead and handle events using js */
nav.navbar a:active, nav.navbar a.fake-active  {
	background-color:#1a1a1a!important; /* Fallback value */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#736F6E), color-stop(100%,#1a1a1a));
}

nav.navbar a.highlighted {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#736F6E), color-stop(100%,#1a1a1a));
}

/* Content container styles */
#viewport {
	margin:0px;
	padding:0px;
	z-index:10;
	top:45px;
	bottom:45px;
	font-weight:600;
	
	background-color:#FFF;
}

#viewport div[data-type=page] {
}

/* Page content styles */
#viewport div[data-type=page-content] {
	margin:0px;
	padding:15px 10px;
	background-color:#FFF;
	
	-webkit-box-shadow: 0px 10px 5px #333, 0px -10px 5px #333;
	-moz-box-shadow: 0px 10px 5px #333, 0px -10px 5px #333;
	box-shadow: 0px 10px 5px #333, 0px -10px 5px #333;
}

.scroller {
	background:#565a60;
}


/* Modal window */
#modal {
	display:none;
	
	box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	box-align: center;
	-moz-box-align: center;
	-webkit-box-align: center;
	
	box-pack: center;
	-moz-box-pack: center;
	-webkit-box-pack: center;
	
	position:absolute;
	z-index:2000;
	left:10%;
	top:15%;
	background:#FFF;
	width:80%;
	
	-webkit-box-shadow: 0px 0px 25px #000;
	-moz-box-shadow: 0px 0px 25px #000;
	box-shadow: 0px 0px 25px #000;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	background-color:#FFF; /* Fallback value */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#CCC));
}

/* Modal ribbon */
#modal h1 { 
	position:relative;
	left:-15px;
	padding: 8px 15px 8px 15px;
	width:100%;
	
  font-size: x-large;
  font-weight: 800;
  color: #fff;
  background: #CD0000;
	text-shadow: 2px 2px 2px #000;
	
	-webkit-box-shadow: 0px 0px 5px #000;
	-moz-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000;
}

#modal h1:before,
#modal h1:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: transparent #AD0000;
}

/* override shared styles */
#modal h1:after {
    left: auto;
    right: 0;
    border-width: 0 0 15px 15px;
}

#modal_content {
	display:box;
	display:-moz-box;
	display:-webkit-box;
	display:-o-box;
	
	box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	box-align: center;
	-moz-box-align: center;
	-webkit-box-align: center;
	
	box-pack: center;
	-moz-box-pack: center;
	-webkit-box-pack: center;
	
	padding:0px 15px 10px 15px;
}

#modal_close {
	display:box;
	display:-moz-box;
	display:-webkit-box;
	display:-o-box;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	box-align: center;
	-moz-box-align: center;
	-webkit-box-align: center;
	
	box-pack: center;
	-moz-box-pack: center;
	-webkit-box-pack: center;
	
	width:100%;
	font-size:large;
	font-weight:800;
	color:white;
	background:#FFF;
	text-decoration:none;
	
	height:45px;
	
	background-color:#1a1a1a; /* Fallback value */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565a60), color-stop(100%,#1a1a1a));
	
	/* Text styles */
	color:white;
	font-size:large;
	text-shadow: 2px 2px 2px #000;
	font-weight:800;
	
	border-top: 1px solid #CCC;
	
	-webkit-box-shadow: 0px 0px 5px #000;
	-moz-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000;
}

#modal p {
	display:box;
	display:-moz-box;
	display:-webkit-box;
	display:-o-box;
	
	font-weight:800;
	-webkit-box-flex:2;
}

#fade {
	display:box;
	display:-moz-box;
	display:-webkit-box;
	display:-o-box;
	
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background: #111;
	z-index:0;
	opacity:0;
	
	/* Animation */
	-webkit-transition: opacity 500ms linear;
	-moz-transition: opacity 500ms linear;
	transition: opacity 500ms linear;
}

/* Geolocation form field and loading animation */
#geolocation_container {
	position:relative;
}

#geolocation_search {
	display:box;
	display:-moz-box;
	display:-webkit-box;
	display:-o-box;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	margin:15px auto;
	
	width:80%;
	padding: 2px 10px 2px 30px;
	
	border:1px solid #666;
	
	line-height:35px;
	font-size:100%;
	font-weight:600;
	color:black;
	
	background:url('../img/glass.png') no-repeat 1% center, #FFF;
	
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
}

#geolocation_search[disabled=disabled] {
	color:white;
	background:url('../img/glass.png') no-repeat 1% center, #EEE;
}

#geolocation_search.green {
	-webkit-animation:pulse_green 500ms infinite ease-in alternate;
}
#geolocation_search.orange {
	-webkit-animation:pulse_orange 500ms infinite ease-in alternate;
}

/* Test if this is really needed: removes highlighting on click */
#geolocation_search:focus {
	outline-color: transparent;
  outline-style: none;
}

/* Pulsating effect for form field. Attention: Performance killer */
@-webkit-keyframes pulse_green {
  0% { 
    -moz-box-shadow: 0px 0px 5px #458B00;
    -webkit-box-shadow: 0px 0px 5px #458B00;
    box-shadow: 0px 0px 5px #458B00;
  }
    
  100% {
	-moz-box-shadow: 0px 0px 10px #458B00;
	-webkit-box-shadow: 0px 0px 10px #458B00;
	box-shadow: 0px 0px 10px #458B00;
	}
}

@-webkit-keyframes pulse_orange {
  0% { 
    -moz-box-shadow: 0px 0px 5px #f3961c;
    -webkit-box-shadow: 0px 0px 5px #f3961c;
    box-shadow: 0px 0px 5px #f3961c;
  }
    
  100% {
	-moz-box-shadow: 0px 0px 10px #f3961c;
	-webkit-box-shadow: 0px 0px 10px #f3961c;
	box-shadow: 0px 0px 10px #f3961c;
	}
}

/* Fade in of geolocation results */
#geo_results, #geo_results a {
	opacity:0;
}

/* Loading animation */
#loading {
	display:box;
	display:-moz-box;
	display:-webkit-box;
	display:-o-box;
	
	box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	box-align: center;
	-moz-box-align: center;
	-webkit-box-align: center;
	
	box-pack: center;
	-moz-box-pack: center;
	-webkit-box-pack: center;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	position:absolute;
	
	left:55%;
	top:12px;
	width:30%;
}

.l_bar {
	display:box;
	display:-moz-box;
	display:-webkit-box;
	display:-o-box;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	height:16px;
	margin:0px 1px;
	border:1px solid #000;
	
	opacity:0.5;	
}

#loading.green .l_bar {
	background-color:#458B00;
}

#loading.orange .l_bar {
	background-color:#f3961c;
}

#bar1 {-webkit-animation:loading1 1.5s infinite linear; -webkit-box-flex:1;}
#bar2   {-webkit-animation:loading2 1.5s infinite linear; -webkit-box-flex:1.5;}
#bar3   {-webkit-animation:loading3 1.5s infinite linear; -webkit-box-flex:2;}
#bar4   {-webkit-animation:loading4 1.5s infinite linear; -webkit-box-flex:2;}
#bar5    {-webkit-animation:loading5 1.5s infinite linear; -webkit-box-flex:1.5;}
#bar6    {-webkit-animation:loading6 1.5s infinite linear; -webkit-box-flex:1;}

@-webkit-keyframes loading1 {0% {opacity:0.5;} 10% {opacity:1;} 20% {opacity:0.5;} 100% {opacity:0.5;}}
@-webkit-keyframes loading2 {0% {opacity:0.5;} 10% {opacity:0.5;} 20% {opacity:1;} 30% {opacity:0.5;} 40% {opacity:0.5;} 90% {opacity:0.5;} 100% {opacity:1;}}
@-webkit-keyframes loading3 {0% {opacity:0.5;} 20% {opacity:0.5;} 30% {opacity:1;} 40% {opacity:0.5;} 80% {opacity:0.5;} 90% {opacity:1;} 100% {opacity:0.5;}}
@-webkit-keyframes loading4 {0% {opacity:0.5;} 30% {opacity:0.5;} 40% {opacity:1;} 50% {opacity:0.5;} 70% {opacity:0.5;} 80% {opacity:1;} 90% {opacity:0.5;} 100% {opacity:0.5;}}
@-webkit-keyframes loading5 {0% {opacity:0.5;} 40% {opacity:0.5;} 50% {opacity:1;} 60% {opacity:0.5;} 70% {opacity:1;} 80% {opacity:0.5;} 100% {opacity:0.5;}}
@-webkit-keyframes loading6 {0% {opacity:0.5;} 50% {opacity:0.5;} 60% {opacity:1;} 70% {opacity:0.5;} 100% {opacity:0.5;}}

/* Images */
#img_sir_home, #img_sir_help {
	width:70px;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

#img_dragonlot {
}

#modal_img {
	width:70px;
	-webkit-box-flex:1;
}

#sir_bubble_container {
	display:box;
	display:-moz-box;
	display:-webkit-box;
	display:-o-box;
	
	margin: 0px;
	padding:0px;
	
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
	
	box-pack: center;
	-moz-box-pack: center;
	-webkit-box-pack: center;
	
	box-align: center;
	-moz-box-align: center;
	-webkit-box-align: center;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#sir_bubble_container_vertical {
	display:box;
	display:-moz-box;
	display:-webkit-box;
	display:-o-box;
	
	margin: 0px;
	padding:0px;
	
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	
	box-pack: center;
	-moz-box-pack: center;
	-webkit-box-pack: center;
	
	box-align: center;
	-moz-box-align: center;
	-webkit-box-align: center;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* Speech bubble */
div.speech_bubble {
	position:relative;
	padding:5px;
	
	max-width:400px; /* Turns ugly if width exceeds a certain value */
	color:#000;
	background:#f3961c; /* default background for browsers without gradient support */
	
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
	background:-moz-linear-gradient(#f9d835, #f3961c);
	background:-o-linear-gradient(#f9d835, #f3961c);
	background:linear-gradient(#f9d835, #f3961c);
	
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	
	-moz-box-shadow: 2px 2px 5px #666;
	-webkit-box-shadow: 2px 2px 5px #666;
	box-shadow: 2px 2px 2px #666;
	
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	box-flex: 2;
}

div.speech_bubble.right_triangle {
	margin-right: 20px; /* Space for triangle */
}

div.speech_bubble.bottom_triangle {
	margin-right: 10px; /* Space for triangle */
}

/* Creates triangle ont the left of speech bubble*/
div.speech_bubble.right_triangle:after {
	content:"";
	position:absolute;
	top:10px; /* controls vertical position */
	right:-20px; /* value = - border-left-width - border-right-width */
	border-width:0px 20px 15px 0px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#f9d835 transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* Creates triangle on the bottom of speech bubble*/
div.speech_bubble.bottom_triangle:after {
	content:"";
	position:absolute;
	bottom:-20px; /* controls vertical position */
	left:40px; /* value = - border-left-width - border-right-width */
	border-width:20px 0px 0px 20px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#f3961c transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* Link lists */
ul.link-list {
	list-style:none;
	padding:0px;
	margin:0px -10px; /* Account for padding of content container */
	
	-moz-box-shadow: 0px 0px 5px #666;
	-webkit-box-shadow: 0px 0px 5px #666;
	box-shadow: 0px 0px 5px #666;
	
	transition: opacity 1s  linear;
  -webkit-transition: opacity 1s  linear;
	-moz-transition: opacity 1s  linear;
}

ul.link-list li a {
	display:box;
	display:-moz-box;
	display:-webkit-box;
	display:-o-box;
	
	padding:15px 20px 15px 40px;
	
	font-size:110%;
	font-weight:800;
	color:#000;
	text-decoration:none;
	
	background:#EEE;
	background-image: url(../img/parking_sign.png), url(../img/arrow.png);
	background-position: 5px center, 95% center;
	background-repeat: no-repeat;
	
	border:1px solid #666;
	border-width: 0px 1px 1px 1px;
	
	/* Fade in effect */
	transition: opacity 1s  linear;
  -webkit-transition: opacity 1s  linear;
	-moz-transition: opacity 1s  linear;
}

ul.link-list li:first-child a {
	border-top:1px solid #666;
}

ul.link-list li:last-child a {
	border-top:none;
}

ul.link-list li a:active, ul.link-list li a.fake-active  {
	background:#f3961c!important;
	background-image: url(../img/parking_sign.png), url(../img/arrow.png)!important;
	background-position: 5px center, 95% center!important;
	background-repeat: no-repeat!important;
}

/* Faq accordion styles */
#faq_container {
	margin:10px 0px;
}

#faq_container .faq h1 {
	display:box;
	display:-moz-box;
	display:-webkit-box;
	display:-o-box;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	box-align: center;
	-moz-box-align: center;
	-webkit-box-align: center;
	
	margin:0px -15px;
	padding: 0px 15px;
	height:50px;
	
	background-color:#1a1a1a; /* Fallback value */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565a60), color-stop(100%,#1a1a1a));
	
	/* Text styles */
	color:white;
	font-size:18px;
	text-shadow: 2px 2px 2px #000;
	font-weight:800;
}

#faq_container .faq:first-child h1 {
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	
	-moz-border-top-left-radius:8px;
	-moz-border-top-right-radius:8px;
	
	-webkit-border-top-left-radius:8px;
	-webkit-top-right-radius:8px;
}

#faq_container .faq h1.fake-active, #faq_container .faq h1:active  {
	background-color:#2a2a2a; /* Fallback value */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#736F6E), color-stop(100%,#1a1a1a));
}

#faq_container .faq p {
	display:box;
	display:-moz-box;
	display:-webkit-box;
	display:-o-box;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	box-align: center;
	-moz-box-align: center;
	-webkit-box-align: center;
	
	overflow-y:scroll;
	
	margin:0px 0px;
	padding: 0px 5px;
	height:0px;
	
	background-color:#1a1a1a; /* Fallback value */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEE), color-stop(100%,#888));
	
	/* Accordion effect */
	transition: height 0.5s  ease-in-out;
  -webkit-transition: height 0.5s  ease-in-out;
	-moz-transition: height 0.5s   ease-in-out;
}

#faq_container .faq p.open {
	height:150px;
}

/* Switch buttons */

.switch {
	display:box;
	display:-moz-box;
	display:-webkit-box;
	display:-o-box;
	
	position:relative;
	
	box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	box-align: center;
	-moz-box-align: center;
	-webkit-box-align: center;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	background: #EEE;
	border:1px solid #CCC;
	
	width:70%;
}

.switch input {
	display:none;
}

.switch .slide {
	display:box;
	display:-moz-box;
	display:-webkit-box;
	display:-o-box;
	
	position:absolute;
	
	top:0px;
	left:0px;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	height:100%;
	width:50%;
	
	border:1px solid #000;
	
	background:#444;
	
	/* Slide effect */
	transition: all 0.5s  ease-in-out;
  -webkit-transition: all 0.5s  ease-in-out;
	-moz-transition: all 0.5s   ease-in-out;
	
	-webkit-transform: translateX(0%);
}

.switch .slide.selected {
	-webkit-transform: translateX(100%);
	background:#458B00;
}	

.switch .enable,.switch .disable {
	display:box;
	display:-moz-box;
	display:-webkit-box;
	display:-o-box;
	
	box-pack: center;
	-moz-box-pack: center;
	-webkit-box-pack: center;
	
	box-align: center;
	-moz-box-align: center;
	-webkit-box-align: center;
	
	height:40px;
	
	font-size:large;
	font-weight:800px;
	
	
	box-flex:1;
	-moz-box-flex:1;
	-webkit-box-flex:1;
	-o-box-flex:1;
}

.switch:active, .switch.fake-active {
	background:#FFF!important;
}

#options_list {
	list-style:none;
}

#options_list .options_label{
	font-size:large;
}

